:root {
    --red: #DA291C;
    --yellow: #FFD700;
    --aquablue: #00FFFF;
    --green: #00AF4D;
    --white: #FFFFFF;
    --black: #000000;
    --maxwidth: 1200px;
}

body{
    height: 100%;
    margin: 3%;
    font-family: Arial;
  }
  
div.container{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    background-color: var(--white);
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-style: solid;
}

#menu {  
    position: fixed;
    right: 0;
    width: 100%;
}

nav{
   position: relative;
    left: 107px;
    width: 100%;
    background-color: var(--with);
    display: flex;
}

nav button{
border-style: solid;
text-decoration: none;
border-bottom: 5px solid var(--aquablue);
display: inline-block;
padding: .5rem 1rem;
text-transform: uppercase;
}

/*hover*/
nav button:hover{
    color: var(--white);
    border-color: var(--aquablue);
    border-bottom: var(--aquablue);
    background: var(--aquablue);
    transition: ease-in-out .4s;
}

#subMenu{
    display: flex;
    flex-direction: column;
}

div.open{
    display: none;
}

/*hover*/
.MenuItem:hover .open{
    position: fixed;
    top: auto;
    display: block;
    padding: 1rem;
    border-style: solid;
    width: 78%;
}

@media screen and (max-width: 800px) {

    #menu {  
        position: fixed;
        right: 0;
        left: auto;
        width: 100%;
    }

    .nav button{
        color: var(--black);
        border-style: solid;
        border-bottom: 1px solid var(--blue);
        padding: .1rem 1rem;
        text-transform: uppercase;
        }

        .MenuItem:hover .open{
            position: fixed;
            top: auto;
            display: block;
            left: 15px;
            padding: 1rem;
            border-style: solid;
            width: 85%;
            border-top:5px solid var(--blue);

        }
}